@import '../../utils/mixin';

.gallery{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

       &__slide{
        object-fit: cover;
        width: 100%;
        height: 28vw;
        min-height: 255px;
        @include border-25;
    }
}
.button{
    position: absolute;
    border: none;
    background-color: transparent;
    &-left{
        transform: rotate(270deg);
        left: 0;
        }
        
     &-right{
        transform: rotate(90deg);
        right: 0;
        }

    &__arrow{
        width:85px;
        @include small_screen{
            width: 20px;
        }

        }
    }
    
    .index{
        display: flex;
        position: absolute;
        bottom: 0; 
        @include small_screen{
            display: none;
        }
        &__button{
            border: none;
            background-color: transparent;
            font-size: 3em;
            color: white;
        }
    }
