.house{
    
    display: flex;
    justify-content: space-between;
    margin: 40px auto;

    &__description{
        display: flex;
        justify-content: space-between;

        &-column{
            width: 45%;
        }
    }
}

.owner{
    display: flex;
    align-items: center;
    gap: 10px;
    &__image{
        border-radius: 50%;
    }
}

.equipement{
    margin: 0;
    list-style: none;
    padding: 0;
}