.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 288px;
        margin: 0;
    }
    h2{
        font-size: 36px;
    }
    a{
        margin: 180px 0;
    }
}