@import '../../utils/mixin';
@import '../../utils/variable';

.collapse{
    @include border-10;  
    margin-bottom: 30px;
    font-size: 24px;
    background-color: $color-secondary;
    @include small_screen{
        @include border-5; 
        margin-bottom: 20px;
    }
    
    &-logement{
        font-size: 18px;
    }

    &__button{
        @include border-10;  
        width: 100%;
        text-align: left;
        font-size: inherit;
        display: flex;
        justify-content: space-between;
        background-color: $color-primary;
        border: none;
        color: white;
        align-items: center;
        @include small_screen{
            font-size: 13px;
            padding: 5px 11px;
            @include border-5; 
        }
    }
    
    &__arrow{
        @include small_screen{
            width: 15px;
        }
        &-revert{
            @include small_screen{
                width: 15px;
            }
            transform: rotate(180deg);
        }
    }

    &__content{
        max-height: 305px;
        transition:  0.5s ease-in-out;
        padding: 15px;
        @include small_screen{
            font-size: 12px;
        }
    }

.hidden{
        max-height: 0;
        padding: 0;
    }
}