
.collapse{
    margin-bottom: 30px;    
    overflow: hidden;
    border-radius: 5px;    
    font-size: 24px;
    background-color: #F7F7F7;

    &__button{
        width: 100%;
        text-align: left;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        background-color: #FF6060;
        border-radius: 5px;
        border: none;
        color: white;
    }
    &__arrow{
        &-revert{

            transform: rotate(180deg);
        }
    }

    &__content{
        max-height: 200px;
        transition:  0.5s ease-in-out;
        padding: 15px;
        &-wide{
            max-height: 400px;
        }
    }
.hidden{
        max-height: 0;
        padding: 0;
    }
}