.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  40px auto ;
    width: 90%;
}
.nav{
    background-color: #E5E5E5;
    &__link{
        margin-left: 50px ;
        text-decoration: none;
        &-active{
            text-decoration: underline;
        }
    }
}