@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@400;700&display=swap');
@import '../utils/variable';

*{
    color: $color-primary;
    font-family: Montserrat;
    font-weight: 500;
}
body{
    margin: 0;
}
main{
    width: 90%;
    margin: auto;
}