@import '../../utils/mixin';

.banner{
    width: 90%;
    margin: 30px auto;
    height: 223px;
    @include border-25;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: left;

    &-home{
        background-image: url('../../assets/home_banner.jpg');
        margin-bottom: 40px;
    }
    &-about{
        background-image: url('../../assets/about_banner.jpg');
        filter: brightness(.9);
    }

    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(.7);
        @include small_screen{
            padding-left: 15px;
            justify-content: flex-start;
        }
        &-br{
            display: none;
            @include small_screen{
                display: inline;
            }
        }

        p{            
        font-size: 48px; 
        color: white;
            @include small_screen{
                font-size: 24px;
            }
        }
    }
}